body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.6);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

select, input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.description-container {
    background-color: #e9ecef;
    padding: 10px;
    margin-top: 20px;
    border-left: 5px solid #007BFF;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(fundo/fundo.png) no-repeat center center;
    background-size: cover;
    opacity: 1;
    z-index: -1;
}